@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --counter-color: #ffa91f;
  --btn-color: #ffa91f;
  --hover-btn-color: #ff910d;
  --bg-color: #040415;
  --bg-box-buttons-color: #686869;
  --bg-input-color: #686869;
  --progress-bar-color: #64487a;
  --box-bg-edit-color: #353536;
}
body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  color: white;
  background: var(--bg-color);
}
h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 60px;
}
h3 {
  font-size: 26px;
  text-align: center;
}
.error {
  font-size: 18px;
  color: var(--counter-color);
}
.container-create {
  max-width: 900px;
  width: 100%;
  display: flex;
  padding: 20px 10px;
  margin: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.create-goal {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  margin-bottom: 30px;
}

.create-goal div {
  display: inline-block;
}
.create-goal input {
  width: 100%;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #686869;
}
.format-inputs {
  height: 60px;
  background: var(--bg-input-color);
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  padding: 10px;
}

.div-name {
  width: 350px;
}
.div-time {
  width: 70px;
}
.div-start {
  width: 140px;
}
.div-end {
  width: 140px;
}
.create-goal button {
  width: 120px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: var(--btn-color);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  cursor: pointer;
}
.create-goal button:hover,
#update-btn:hover {
  background-color: var(--hover-btn-color);
  cursor: pointer;
}
.box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 5px 0;
}
.container {
  max-width: 900px;
  width: 100%;
  display: flex;
  padding: 20px;
  margin: 10px 0;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.format-boxes {
  display: flex;
  width: 100%;
  height: 70px;
  background: var(--bg-input-color);
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

#container-progress-bar {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  height: 70px;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.progress-bar {
  height: 100%;
  position: absolute;
  background: var(--progress-bar-color);
  left: 0;
  top: 0;
  border-radius: 5px 0 0 5px;
}
.name-progress-bar {
  padding-left: 10px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 2;
}

#check-input {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
  outline: none;
}
.counter {
  width: 100px;
  height: 70px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: var(--counter-color);
  color: black;
  position: relative;
}
.buttons-icons {
  background: var(--bg-box-buttons-color);
  display: flex;
  height: 70px;
  gap: 10px;
  border-radius: 5px;
}
#undo-btn,
#edit-btn,
#delete-btn {
  background-color: transparent;
  margin: 5px;
  color: white;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}
#undo-btn :hover,
#edit-btn :hover,
#delete-btn:hover {
  color: var(--hover-btn-color);
  font-size: 22px;
}
.divCounterButtons {
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.date {
  display: flex;
  gap: 10px;
  font-size: 13px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 5px;
}
.date div {
  display: flex;
  padding-top: 14px;
  gap: 5px;
}
.hidden {
  visibility: hidden;
}
/* Edit */

.create-goal-edit {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  margin-bottom: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: var(--box-bg-edit-color);
  border: none;
  border-radius: 5px;
  z-index: 200;
}

.create-goal-edit div {
  display: inline-block;
}
.create-goal-edit input {
  width: 100%;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
}
.edit-div-name {
  width: 100%;
}
.edit-div-times {
  width: 20%;
  margin: 20px 0;
}
.edit-div-start {
  width: 35%;
  margin: 20px 0;
}
.edit-div-end {
  width: 40%;
  margin: 20px 0;
}
#update-btn {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: var(--btn-color);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  cursor: pointer;
}
#close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: var(--box-bg-edit-color);
  color: var(--btn-color);
  outline: none;
  font-size: 30px;
  border: none;
  cursor: pointer;
}
#close-btn:hover {
  color: var(--hover-btn-color);
}

@media (max-width: 820px) {
  .create-goal {
    max-width: 400px;
    width: 100%;
  }
  .div-name,
  .create-goal button {
    width: 100%;
  }
  .container {
    padding: 20px 0;
  }
  .div-time {
    width: 20%;
    margin: 20px 0;
  }
  .div-start {
    width: 35%;
    margin: 20px 0;
  }
  .div-end {
    width: 40%;
    margin: 20px 0;
  }
  .date {
    display: block;
  }
  .counter {
    width: 70px;
  }
  .divCounterButtons {
    width: auto;
  }
}
